<div class="row">
  {{#if user_create_status.state}}
    <div class="col-6">
      <div class="alert alert-success" role="alert">
        <strong>{{user_create_status.message}}</strong>
      </div>
      {{#link-to 'task-list' query_ID class="btn btn-success"}}Wiew my task list{{/link-to}}
      <button {{action "cancel"}} class="btn btn-warning">logout</button>
    </div>
  {{else}}
    <div class="col-6">
      <div class="form-group">
        {{input type="text" class="form-control" name="user_name" value=newUser.name placeholder="Enter your name"}}
      </div>
      <div class="form-group">
        {{input type="password" class="form-control" name="user_password" value=newUser.password placeholder="Enter your password"}}
      </div>
      <div class="form-group">
        {{ember-filepicker onSelection=(action 'fileSelected') class="btn btn-secondary"}}
      </div>
      <button {{action "createNewUser"}} class="btn btn-primary">Create new user</button>
      <button {{action "cancel"}} class="btn btn-danger">Cancel</button>
    </div>
  {{/if}}
  <div class="col-3">
    {{#if newUser.avatar}}
      <div class="avatar">
        <img src="{{newUser.avatar}}" alt="">
      </div>
    {{/if}}
    {{#if newUser.name}}
      <div class="name">
        <p>Name: {{newUser.name}}</p>
      </div>
    {{/if}}
  </div>
</div>
